.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* new added features */

.CreateBook {
   
    min-height: 100vh;
}

.ShowBookDetails {
    min-height: 100vh;

}

.UpdateBookInfo {
    min-height: 100vh;
}

.ShowBookList {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100px;

}



/* body {
    min-height: 100vh;
    background: #fafafa;
} */

/* 
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
} */

/* .social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
} */




/* BookList Styles */

/* .list {
    display: grid;
    margin: 20px 0 50px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 2em;
}

.card-container {
    width: 250px;
    border: 1px solid rgba(0, 0, .125);
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.desc {
    height: 130px;
    padding: 10px;
}

.desc h2 {
    font-size: 1em;
    font-weight: 400;
}

.desc h3,
p {
    font-weight: 300;
}

.desc h3 {
    color: #6c757d;
    font-size: 1em;
    padding: 10px 0 10px 0;
}
.fa{
    margin-left: 40px;
    font-size: 20px;
    transition: 0.25s;
    transition-delay: 0.1s;

}
.fa:hover{
    font-size: 18px;  
    transition-delay: 0.1s;
    
   
} */



/* body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    background-color: #F2F2F2
}

h1 {
    text-align: center;
    color: #333333
}

.cardcontainer {
    width: 350px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s
}

.cardcontainer:hover {
    box-shadow: 0 0 45px gray
}

.photo {
    height: 300px;
    width: 100%
}

.photo img {
    height: 100%;
    width: 100%
}

.txt1 {
    margin: auto;
    text-align: center;
    font-size: 17px
}

.content {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px
}

.photos {
    width: 90px;
    height: 30px;
    background-color: #E74C3C;
    color: white;
    position: relative;
    top: -30px;
    padding-left: 10px;
    font-size: 20px
}

.txt4 {
    font-size: 27px;
    position: relative;
    top: 33px
}

.txt5 {
    position: relative;
    top: 18px;
    color: #E74C3C;
    font-size: 23px
}

.txt2 {
    position: relative;
    top: 10px
}

.cardcontainer:hover>.photo {
    height: 200px;
    animation: move1 0.5s ease both
}

@keyframes move1 {
    0% {
        height: 300px
    }

    100% {
        height: 200px
    }
}

.cardcontainer:hover>.content {
    height: 200px
}

.footer {
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px
}

.btn {
    position: relative;
    top: 20px
}

#heart {
    cursor: pointer
}

.like {
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
    color: #333333
}

.fa-gratipay {
    margin-right: 10px;
    transition: 0.5s
}

.fa-gratipay:hover {
    color: #E74C3C
}

.txt3 {
    color: gray;
    position: relative;
    top: 18px;
    font-size: 14px
}

.comments {
    float: right;
    cursor: pointer
}

.fa-clock,
.fa-comments {
    margin-right: 7px
} */




